body {
    background-color: white;
}
.calculator {
    border: 5px solid black;
    border-radius: 20px;
    width: 40vw;
    height: 85vh;
    margin: auto;
}
.calculator .header {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-top: 3vw;
}
.calculator .answer {
    text-align: right;
    font-size: 1.5em;
    padding-top: 6vw;
    padding-right: 2vw;
}
.calculator .bases {
    text-align: left;
    padding: 2vw 2vw 2vw 2vw;
}
.calculator .base {
    font-size: 1.5em;
    padding-top: 1vw;
}
.calculator .base .base-name {
    display: inline;
}
.calculator .base .base-answer {
    float: right;
    padding-left: 1vw;
}
.calculator .buttons {
    text-align: center;
}
.calculator .buttons .row-buttons {
    padding: 0.5vw 0 0.5vw 0;
    height: 6vw;
}
.calculator .buttons .row-buttons .button{
    display: inline-block;
    vertical-align: middle;
    width: 4.5vw;
    height: 4.5vw;
    border: 5px solid black;
    border-radius: 10px;
}
.calculator .buttons .row-buttons .button .button-content {
    font-size: 1em;
    padding-top: 1.5vw;
}